.container {
	display: flex;
	flex-direction: column;
	/* align-items: center; */ /* Activated means bottom section adjusts. Block out for consistency */
	margin: auto;
	margin-top: 250px;
	background: #625ac4;
	width: 800px;
	border-radius: 15px;
}

.quote {
	padding: 40px 110px 50px 110px;
	color: white;
	font-size: 32px;
	text-align: left;
}

.bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 30px 50px;
}

.line {
	/* flex-grow: 1; */
	height: 1.5px;
	background: white;
	margin: 0 50px;
}

.author {
	color: white;
	font-size: 20px;
	font-weight: 500;
}

.icons {
	display: flex;
	gap: 40px;
}

.loading {
	margin: auto;
	padding: 50px;
	color: white;
	font-size: larger;
	font-weight: 600;
}

.icons img {
	cursor: pointer;
	height: 36px;
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(63deg)
		brightness(109%) contrast(102%);
}
